/* le header pour toutes les pages */

.bandeau{
    display: flex;
    height: 4vw;
    justify-content: space-between;
    align-items: center;  
    background: linear-gradient(#242121 7%, #776F6F 38%, #9A9595 51%, #716969 65%, #100E0E 95%);
    list-style: none;
    text-decoration: none;
}

nav a{
    color:#ffffff;
    font-size: 1.5rem;
    margin-left: 2rem;
    margin-right: 2rem;
    text-decoration: none;
}

.title {
    text-align: center;
    font-size: 3rem;
    color: #ffffff;
}

/* body pour toutes les pages */
body {
    color: white;
    position: relative;
    font-family: "Times New Roman", Times, serif;
    background: linear-gradient(#080202 52%, #959191 100%);
    overflow-x: hidden;
}

.titre-pages{
    font-size: 3rem;
    text-align: center;
    color: #ffffff;
    margin: 4rem;
}

/* le footer pour toutes les pages sauf à propos */

footer{
    margin-top: 40rem;
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
}

.footer-text{
    display: flex;
    flex-direction: column; 
    align-items: flex-start;
    margin-left: 3rem; 
    margin-bottom: 2rem;
    margin-right: 1rem;
    color: #000000;
}

.footer-social-block {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
}

.btn-suivre{
    text-decoration: none;
    margin: 0;
    color: #000000;
    font-size: x-large;
}

.logo-instagram{
    width: 4rem;
}

.btn-to-top{
    width: 25%;
    position: absolute; 
    left: 50%;
    transform: translateX(-50%);
    bottom: 2rem; 
    padding: 1rem 2rem;
    font-size: 1.5rem;
    background: #000000;
    color: #ffffff;
    border-radius: 2rem;
    text-align: center;
    text-decoration: none;
}

/* pour la page accueil */
.accueil {
    position: relative;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.accueil img { 
    padding: 50px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 400px;
    margin-top: 400px;
    opacity: 0.6;
}
/* Slogan sur l’image */
.slogan {
    position: absolute;  
    color: white;
    font-size: 4rem;
    text-align: left;

    margin-top: 400px;
    margin-right: 2%;
}

/* les blocks sous l'image dans accueil */
.actualités {
    display: flex;
    justify-content: center;
    gap: 4vw;
    margin: 5vh auto;
}

.card {
    border: 0.4rem solid #000000;
    font-size: 1.4rem;
    padding: 2rem;
    border-radius: 2rem;
    width: 22vw;
    max-width: 20rem;
    text-align: center;
    color: white;
}

.card-title{
    font-size: 2rem;
}

.card-text{
    font-size: 1.3rem;
}

/* les avis */
.avis {
    display: flex;
    justify-content: center;
    gap: 2vw;
    margin: 5vh auto 10vh;
    flex-wrap: wrap;
}

.avis-card {
    background: #4D4545;
    border: 0.2rem solid #000000;
    padding: 2rem;
    border-radius: 2.5rem;
    width: 35vw;
    max-width: 25rem;
    height: auto;
    min-height: 7rem;
    text-align: center;
    color: white;
    font-size: 1.2rem;
}


/* pour la page actualités_mode */

.actu-card{
    border: #ffffff;
    border-radius: 3rem;
    background-color: rgba(255, 245, 245, 0.51);
    width: 50vw;
    max-width: 35rem;
    padding-bottom: 3rem;
    margin-bottom: 3rem;
    margin-top: 3rem;
}

.actu-card:nth-child(even) {
    margin-left: auto;
    margin-right: 8vw;
}

.actu-card:nth-child(odd) {
    margin-right: auto;
    margin-left: 8vw;
}

.actu-img{
    border-radius: 20%;
    width: 80%;
    height: auto;
    padding: 3rem 3rem 0 3rem;
    transition: transform 0.3s ease;
}

.actu-img:hover{
    transform: scale(1.05);

}

.actu-title{
    color: white;
    text-decoration: none;
    text-align: center;
    font-size: 1.7rem;
}

.actu-text{
    text-align: center;
    font-size: 1.4rem;
    text-decoration: none;
}

.actualités-mode {
    display: block;
}

.actualités-mode a {
    color: white;
    text-decoration: none;
}

.actualités-mode-text {
    color: #ffffff;
    text-align: center;
    font-size: 2.2rem;
}

/* Bloc principal */
.actualité-mode-block { 
    border: 0.4rem solid #948787;
    background-color: rgba(217, 217, 217, 0.31);
    padding: 2rem 8vw 0;
    border-radius: 2rem; 
    width: 60vw;
    max-width: 55rem;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 6rem;
}

.actualité-mode-block ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.actualité-mode-block li {
    text-align: center;
    margin-bottom: 3rem;
}

/* pour la page actu mode défilé */
.section-description-actu-mode-defile{
    text-align: left;
    font-size: xx-large;
    font-weight: bolder;
    margin-left: 35%;
    margin-right: 35%;

}

.block-article-defile {
    max-width: 1000px;
    margin: 80px auto;
    padding: 0 5%;
    padding-top: 50px;
    display: flex;
    flex-direction: column;
}

.block-article-defile h2 {
    font-size: 2.3rem;
    margin-bottom: 30px;
    text-align: center;
    text-transform: uppercase;
    width: 100%;
}

.defile-top-content {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin-bottom: 40px;
    width: 100%;
}


.defile-texte-gauche,
.defile-texte-droite,
.defile-image-droite,
.defile-image-gauche {
    width: 50%;
    margin-bottom: 20px;
    font-size: x-large;
    font-weight: bold;
}

.content-gauche-image-droite {
    flex-direction: row;
}

.content-image-gauche-texte-droite {
    flex-direction: row;
}


.actu-img-defile {
    width: 100%;
    height: auto;
    display: block;
}


.defile-texte-gauche p, .defile-texte-droite p {
    font-size: 1em;
    line-height: 1.7;
}

.defile-mini-image-interieur {
    margin-top: 10px;
    max-width: 120px;
    float: right;
    margin-left: 15px;
}

.defile-bottom-content {
    max-width: 80%;
    margin: 0 auto;
    padding-top: 30px;
}

.defile-bottom-content p {
    text-align: center;
    font-style: italic;
    font-size: x-large;
    font-weight: bold;
}

.defile-chanel {
    text-align: center;
}

.actu-img-defile-centree {
    width: 80%;
    margin: 0 auto 20px;
    display: block;
}

.video-chanel {
  display: block;
  margin: 0 auto;
  width: 90%;
  max-width: 700px;
  border: 5px solid #4b0000;
  border-radius: 16px;
}

.text-chanel {
    font-size: x-large;
    max-width: 700px;
    margin: 0 auto;
}

/* pour la page actualités Tendances intemporelles */
.tendances-intemporelles-section {
    padding: 2rem 5%;
    max-width: 1200px;
    margin: 0 auto;
}

/* Style de la description d'introduction */
.introduction-tendance {
    font-size: 1.5rem;
    line-height: 1.8;
    width: 33%;
    text-align: left;
    margin: 4rem auto;
}

.description-tendance {
    font-size: 1.2rem;
    line-height: 1.8;
    color: #ccc;
    max-width: 600px;
}

.tendance-block {
    margin-bottom: 8rem;
}

.tendance-titre {
    font-size: 2.5rem;
    margin-bottom: 2rem;
    color: white;
    text-align: center;
}

.tendance-contenu {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.tendance-img {
    display: block;
    width: 100%;
    max-width: 300px;
    height: auto;
    object-fit: cover;
}

.tendance-img:nth-child(even){
    margin-left: 10%;
    margin-right: auto;
}
.tendance-img:nth-child(odd){
    margin-right: 10%;
    margin-left: auto;
}

.tendance-block.old-money-style .tendance-contenu {

    justify-content: space-around;
    align-items: flex-start;
}

.old-money-colonne-gauche {
    flex: 1;
    max-width: 45%; 
    display: flex;
    justify-content: center;
}

.old-money-colonne-droite {
    flex: 1;
    max-width: 45%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}


/* pour la page collaboration */

.section-description-collaboration {
    text-align: left;
    font-size: xx-large;
    font-weight: bolder;
    border: 0.3rem solid #948787;
    padding: 2rem 5rem;
    border-radius: 2rem;
    margin-left: 30%;
    margin-right: 30%;
}

.collaboration-article-bloc {
    max-width: 1000px;
    margin: 80px auto;
    padding: 0 5%;
    padding-top: 50px;
    display: flex;
    flex-direction: column;
}

.collaboration-article-bloc h2 {
    font-size: 2.3rem;
    margin-bottom: 30px;
    text-align: center;
    text-transform: uppercase;
    width: 100%;
}

.defile-top-content {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin-bottom: 40px;
    width: 100%;
}

.defile-texte-gauche,
.defile-texte-droite,
.defile-image-droite,
.defile-image-gauche {
    width: 50%;
    margin-bottom: 20px;
    font-size: x-large;
    font-weight: bold;
}

.content-gauche-image-droite {
    flex-direction: row;
}

.content-image-gauche-texte-droite {
    flex-direction: row;
}

.collab-image-container {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.collab-img-principale, .collab-img-mini {
    width: 100%;
    height: auto;
    display: block;
}

.defile-texte-gauche p, .defile-texte-droite p {
    font-size: 1em;
    line-height: 1.7;
}

.defile-bottom-content {
    max-width: 80%;
    margin: 0 auto;
    padding-top: 30px;
}

.defile-bottom-content p {
    text-align: center;
    font-style: italic;
    font-size: x-large;
    font-weight: bold;
}

.defile-chanel {
    text-align: center;
}

.collab-img-centree {
    width: 80%;
    margin: 0 auto 20px;
    display: block;
}

.text-chanel {
    font-size: x-large;
    max-width: 700px;
    margin: 0 auto;
}


/* pour la page looks iconiques*/

.look:nth-child(even) {
    margin-left: auto;
    margin-right: 8vw;
}

.look:nth-child(odd) {
    margin-right: auto;
    margin-left: 8vw;
}

.looks-iconiques {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 4rem;
    font-family: "Times New Roman", Times, serif;
    color: white;
}

.look {
    background: rgba(217, 217, 217, 0.2);
    padding: 2rem;
    border-radius: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.images-look {
    display: flex;
    gap: 1rem;
    justify-content: center;
    margin-bottom: 1rem;
}

.img-look {
    display: block;
    width: calc(50% - 2.5rem);
    height: auto;
    border-radius: 1.5rem;
}


.text-look-iconique {
    text-align: left;
    color: #ffffff;
    margin: 4rem auto;
    background-color: rgb(148, 135, 135, 0.6);
    padding: 2rem 5vw;
    border-radius: 2rem; 
    width: 45vw;
    max-width: 30rem;
    font-size: 1.5rem;
}


/* pour la page tendances */

.tendances-ligne {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4vw;
    margin-bottom: 12vh;
}

.tendance-img {
    height: 55vh;
    width: auto;
}

.pantone-colonne {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.square {
    width: 8vw;
    height: auto;
}

.tendances-title {
    margin-top: 10vh;
    margin-bottom: 3vh;
    color: white;
    text-align: center;
    font-size: 2.8rem;
}

.tendances-text{
    color: #ffffff;
    text-align: center;
    font-size: 2rem;
}

.tendances-block{ 
    border: 0.4rem solid #948787;
    background-color: rgba(217, 217, 217, 0.31);
    padding: 2rem 8vw 0;
    border-radius: 2rem; 
    width: 60vw;
    max-width: 55rem;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 6rem;
}

.tendances-ligne:nth-child(even) {
    margin-left: auto;
    margin-right: 20vw;
}

.tendances-ligne:nth-child(odd) {
    margin-right: auto;
    margin-left: 20vw;
}


/* pour la page créateurs & marques */
.titre-pages.createurs-marques {
    text-align: left;
    margin-left: 20rem;
    margin-top: 10rem;
    margin-bottom: 10rem;
}

.marques-container {
    display: flex;
    flex-direction: column;
    gap: 15rem;
    padding: 5rem 0;

}

.marque-cercle:nth-child(even) {
    margin-right: auto;
    margin-left: -10rem;
    padding-left: 5rem;
}

.marque-cercle:nth-child(odd) {
    margin-left: auto;
    margin-right: -10rem;
    padding-right: 5rem;
}


.marque-cercle {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-decoration: none;

    /* pour l'effet de cercle */
    border-radius: 50%;
    width: 60rem;
    height: 60rem; 
    text-align: center;
    background: #413E3E;
    box-shadow: #413E3E 0px 0px 100px;
}

.marque-cercle:hover {
    opacity: 0.9;
    transform: scale(1.02); 
    transition: transform 0.4s ease-in-out;
    box-shadow: #000 0px 0px 100px;
}


.marque-cercle h2 {
    font-size: 2.5rem;
    margin-bottom: 3rem;
    color: white;
}

.cercle-contenu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%;
}

.marque-img {
    max-width: 100%;
    width: 25rem;
    height: auto;
    margin-bottom: 1rem;
}


/* pour la page à_propos */

form {
    font-weight: 400;
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.img-a-propos{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.text-a-propos{
    text-align: center;
    color: #ffffff;
    margin: 4rem auto;
    border: 0.3rem solid #948787;
    padding: 2rem 5vw;
    border-radius: 2rem; 
    width: 45vw;
    max-width: 40rem;
    font-size: 1.5rem;
}

.btn-a-propos{
    position: absolute;
    right: 2rem;
    bottom: 2rem;
    width: 10%;
    font-size: 1.5rem;
    background: #000000;
    color: #ffffff;
    padding: 1rem 2rem;
    border-radius: 2rem;
    text-align: center;
    text-decoration: none;
}

form button{
    display: block;
    width: 20%;
    font-weight: 700;
    margin-left: auto;
    margin-right: auto;
    padding: 1rem;
    background: #000000;
    color: #ffffff;
    font-size: 1.4rem;
    border-radius: 0.8rem;
    text-align: center;
}

form button:hover{
    background: #252525;
}

form label {
    font-weight: bold;
    color: #ffffff;
}

.titre-feedback{
    text-align: center;
    font-size: 2rem;
}

.feedback{
    text-align: center;
    font-size: 1.3rem;
}

form textarea {
    padding: 1rem;
    border: 0.4rem solid #000;
    border-radius: 1rem;
    font-size: 1rem;
    width: 40vw;
    max-width: 35rem;
    background-color: transparent;
    resize: vertical;
}