/*le header pour toutes les pages*/

.bandeau{
    display: flex;
    height: 5vw;
    justify-content: space-between;
    align-items: center;  
    background: linear-gradient(#242121 7%, #776F6F 38%, #9A9595 51%, #716969 65%, #100E0E 95%);
    list-style: none;
    text-decoration: none;
}

nav a{
    color:#ffffff;
    margin-right: 30px;
    text-decoration: none;
}

.title {
    text-align: center;
    font-size: 50px;
    color: #ffffff;
}

/*pour la page actualités_mode*/

.actu-card{
    border: #ffffff;
    border-radius: 60px;
    background-color: rgb(255, 245, 245, 0.51);
    width: 500px;
    padding-bottom: 50px;
    margin-bottom: 50px;
    margin-top: 50px;
}

.actu-card:nth-child(even) {
    margin-left: auto;
    margin-right: 100px;
}

.actu-card:nth-child(odd) {
    margin-right: auto;
    margin-left: 100px;
}
.actu-img{
    border-radius: 20%;
    width: 400px;
    height: auto;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 50px;
}

.actu-title{
    color: white;
    text-decoration: none;
    text-align: center;
    transition: transform 0.3s ease;
}
.actu-title:hover{
    transform: scale(1.1);
}

.actu-text{
    text-align: center;
    font-size: x-large;
    text-decoration: none;
}

.actualités-mode {
    display: block;
}

.actualités-mode a {
    color: white;
    text-decoration: none;
}

.actualités-mode-text {
    color: #ffffff;
    text-align: center;
    font-size: xx-large;
}

/* Bloc principal */
.actualité-mode-block { 
    border: 5px solid #948787;
    background-color: rgba(217, 217, 217, 0.31);
    padding: 25px 125px 0;
    border-radius: 25px; 
    width: 874px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 100px;
}

.actualité-mode-block ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.actualité-mode-block li {
    text-align: center;
    margin-bottom: 40px;
}


/*body*/
body {
    color: white;
    position: relative;
    font-family: "Times New Roman", Times, serif;
    background: linear-gradient(#080202 52%, #959191 100%);
}
/*pour la page tendances*/

.tendances-ligne {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
    margin-bottom: 150px;
}

.tendance-img {
    height: 500px;
    width: auto;
}

.pantone-colonne {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.square {
    width: 140px;
    height: auto;
    border-radius: 5px;
}

/* Centrage global */
.tendances-title {
    margin-top: 120px;
    color: white;
    text-align: center;
}
.tendances-text{
    color: #ffffff;
    text-align: center;
    font-size: xx-large;
}

.tendances-block{ 
    border: 5px solid #948787;
    background-color: rgb(217, 217, 217, 0.31);
    padding: 25px 125px 0px;
    border-radius: 25px; 
    width: 874px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 100px;
}

/*le footer pour toutes les pages sauf à propos*/

footer{
    position: relative;
}

.logo-instagram{
    width: 40px;
}

.btn-suivre{
    text-decoration: none;
}

/*pour la page accueil*/
.accueil {
    position: relative;
}

.slogan {
    position: absolute;
    top: 15vw;
    left: 32vw;
    color: #ffffff;
    font-size: 80px;
    z-index: 10;
}

.accueil img {
    padding: 50px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 400px;
    margin-top: 400px;
    opacity: 0.6;
}

/* les blocks sous l'image dans accueil */
.actualités {
    display: flex;
    justify-content: center;
    gap: 60px;
    margin: 50px auto;
}

.card {
    border: 5px solid #000000;
    font-size: large;
    padding: 25px 25px 0px ;
    border-radius: 25px;
    width: 313px;
    text-align: center;
    color: white;
}
.card-title{
    font-size: 30px;
}
.card-text{
    font-size: 20px;
}
/* les avis */
.avis {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin: 40px auto 80px;
    flex-wrap: wrap;
}

.avis-card {
    background: #4D4545;
    border: 1px solid #000000;
    padding: 20px;
    border-radius: 40px;
    width: 400px;
    height: 100px;
    text-align: center;
    color: white;
    font-size: 18px;
}

/*pour la page à_propos*/

form {
    font-weight: 15;
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.text-a-propos{
    text-align: center;
    color: #ffffff;
    margin: 60px;
    border: 3px solid #948787;
    padding: 25px 80px;
    border-radius: 25px; 
    width: 600px;
    font-weight: 10px;
    font-size: 25px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 100px;
}

.titre-a-propos{
    font-weight: 20px;
    font-size: 50px;
    text-align: center;
    color: #ffffff;
    margin: 60px;
}

.btn-a-propos{
    position: absolute;
    display: block;
    right: 20px;
    bottom: 20px;
    width: 8%;
    font-weight: 10px;
    font-size: 25px;
    background: #000000;
    color: #ffffff;
    padding: 10px 20px;
    border-radius: 25px;
    text-align: center;
    margin-top: 120px;
    text-decoration: none;
}

form button{
    display: block;
    width: 15%;
    font-weight: 700;
    margin-left: auto;
    margin-right: auto;
    padding: 18px;
    background: #000000;
    color: #ffffff;
    font-size: 25px;
    border-radius: 8px;
    text-align: center;
    margin-top: 20px;
}

form button:hover{
    background: #252525;
}

form label {
    font-weight: bold;
    color: #ffffff;
}

.titre-feedback{
    text-align: center;
    font-size: xx-large;
}

.feedback{
    text-align: center;
    font-size: large;
}

form textarea {
    padding: 12px;
    border: 4px solid #000;
    border-radius: 20px;
    font-size: 10px;
    width: 500px;
    background-color: transparent;
    resize: vertical;
}
