/*le header pour toutes les pages*/

.bandeau{
    display: flex;
    height: 5vw;
    justify-content: space-between;
    align-items: center;  
    background: linear-gradient(#242121 7%, #776F6F 38%, #9A9595 51%, #716969 65%, #100E0E 95%);
    list-style: none;
    text-decoration: none;
}

nav a{
    color:#ffffff;
    margin-right: 30px;
    text-decoration: none;
}

.title {
    text-align: center;
    font-size: 50px;
    color: #ffffff;
}

/*pour la page actualité_mode*/
.actualités-mode{
    display: block;
}
.actualités-mode a{
    color: red;
}


/*body*/
body {
    position: relative;
    font-family: "Times New Roman", Times, serif;
    background: linear-gradient(#000000 52%, #ffffff 100%);
}
/*le footer pour toutes les pages sauf à propos*/

footer{
    position: relative;
}
.logo-instagram{
    width: 40px;
}

/*pour la page accueil*/
.accueil {
    position: relative;
}

.slogan {
    position: absolute;
    top: 15vw;
    left: 32vw;
    color: #ffffff;
    font-size: 80px;
    z-index: 10;
}

.accueil img {
    padding: 50px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    opacity: 0.6;
}

/* les blocks sous l'image dans accueil */
.tendances {
    display: flex;
    justify-content: center;
    gap: 60px;
    margin: 50px auto;
}

.card {
    border: 5px solid #000000;
    font-size: large;
    padding: 25px 25px 0px ;
    border-radius: 25px;
    width: 313px;
    text-align: center;
    color: white;
}
.card-title{
    font-size: 30px;
}
.card-text{
    font-size: 20px;
}
/* les avis */
.avis {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin: 40px auto 80px;
    flex-wrap: wrap;
}

.avis-card {
    background: #4D4545;
    border: 1px solid #000000;
    padding: 20px;
    border-radius: 40px;
    width: 400px;
    height: 100px;
    text-align: center;
    color: white;
    font-size: 18px;
}

/*pour la page à_propos*/

form {
    font-weight: 15;
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.text-a-propos{
    text-align: center;
    color: #ffffff;
    margin: 60px;
}

.btn-a-propos{
    position: absolute;
    display: block;
    right: 20px;
    bottom: 20px;
    width: 8%;
    font-weight: 10px;
    font-size: 25px;
    background: #000000;
    color: #ffffff;
    padding: 10px 20px;
    border-radius: 25px;
    text-align: center;
    margin-top: 120px;
    text-decoration: none;
}

form button{
    display: block;
    width: 15%;
    font-weight: 700;
    margin-left: auto;
    margin-right: auto;
    padding: 18px;
    background: #000000;
    color: #ffffff;
    font-size: 25px;
    border-radius: 8px;
    text-align: center;
    margin-top: 20px;
}

form button:hover{
    background: #252525;
}

form label {
  font-weight: bold;
  color: #ffffff;
}
form input, form textarea {
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 10px;
}
