/* le header pour toutes les pages */

.bandeau{
    display: flex;
    height: 5vw;
    justify-content: space-between;
    align-items: center;  
    background: linear-gradient(#242121 7%, #776F6F 38%, #9A9595 51%, #716969 65%, #100E0E 95%);
    list-style: none;
    text-decoration: none;
}

nav a{
    color:#ffffff;
    margin-right: 2rem;
    text-decoration: none;
}

.title {
    text-align: center;
    font-size: 3rem;
    color: #ffffff;
}

/* pour la page actualités_mode */

.actu-card{
    border: #ffffff;
    border-radius: 3rem;
    background-color: rgba(255, 245, 245, 0.51);
    width: 50vw;
    max-width: 35rem;
    padding-bottom: 3rem;
    margin-bottom: 3rem;
    margin-top: 3rem;
}

.actu-card:nth-child(even) {
    margin-left: auto;
    margin-right: 8vw;
}

.actu-card:nth-child(odd) {
    margin-right: auto;
    margin-left: 8vw;
}

.actu-img{
    border-radius: 20%;
    width: 80%;
    height: auto;
    padding: 3rem 3rem 0 3rem;
    transition: transform 0.3s ease;
}

.actu-img:hover{
    transform: scale(1.05);

}

.actu-title{
    color: white;
    text-decoration: none;
    text-align: center;
    font-size: 1.7rem;
}

.actu-text{
    text-align: center;
    font-size: 1.4rem;
    text-decoration: none;
}

.actualités-mode {
    display: block;
}

.actualités-mode a {
    color: white;
    text-decoration: none;
}

.actualités-mode-text {
    color: #ffffff;
    text-align: center;
    font-size: 2.2rem;
}

/* Bloc principal */
.actualité-mode-block { 
    border: 0.4rem solid #948787;
    background-color: rgba(217, 217, 217, 0.31);
    padding: 2rem 8vw 0;
    border-radius: 2rem; 
    width: 60vw;
    max-width: 55rem;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 6rem;
}

.actualité-mode-block ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.actualité-mode-block li {
    text-align: center;
    margin-bottom: 3rem;
}


/* body */
body {
    color: white;
    position: relative;
    font-family: "Times New Roman", Times, serif;
    background: linear-gradient(#080202 52%, #959191 100%);
}

/* le footer pour toutes les pages sauf à propos */

footer{
    position: relative;
}

.logo-instagram{
    width: 3rem;
}

.btn-suivre{
    text-decoration: none;
}

/* pour la page accueil */
.accueil {
    position: relative;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.accueil img { 
    padding: 50px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 400px;
    margin-top: 400px;
    opacity: 0.6;
}
/* Slogan sur l’image */
.slogan {
    position: absolute;  
    color: white;
    font-size: 4rem;
    text-align: left;

    margin-top: 400px;
    margin-right: 2%;
}

/* les blocks sous l'image dans accueil */
.actualités {
    display: flex;
    justify-content: center;
    gap: 4vw;
    margin: 5vh auto;
}

.card {
    border: 0.4rem solid #000000;
    font-size: 1.4rem;
    padding: 2rem;
    border-radius: 2rem;
    width: 22vw;
    max-width: 20rem;
    text-align: center;
    color: white;
}

.card-title{
    font-size: 2rem;
}

.card-text{
    font-size: 1.3rem;
}

/* les avis */
.avis {
    display: flex;
    justify-content: center;
    gap: 2vw;
    margin: 5vh auto 10vh;
    flex-wrap: wrap;
}

.avis-card {
    background: #4D4545;
    border: 0.2rem solid #000000;
    padding: 2rem;
    border-radius: 2.5rem;
    width: 35vw;
    max-width: 25rem;
    height: auto;
    min-height: 7rem;
    text-align: center;
    color: white;
    font-size: 1.2rem;
}

/* pour la page looks iconiques*/

.titre-looks-iconiques{
    margin-left: 3%;
}

.look:nth-child(even) {
    margin-left: auto;
    margin-right: 8vw;
}

.look:nth-child(odd) {
    margin-right: auto;
    margin-left: 8vw;
}

.looks-iconiques {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 4rem;
    font-family: "Times New Roman", Times, serif;
    color: white;
}

.look {
    background: rgba(217, 217, 217, 0.2);
    padding: 2rem;
    border-radius: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.images-look {
    display: flex;
    gap: 1rem;
    justify-content: center;
    margin-bottom: 1rem;
}

.img-look {
    display: block;
    width: calc(50% - 2.5rem);
    height: auto;
    border-radius: 1.5rem;
}


.text-look-iconique {
    text-align: left;
    color: #ffffff;
    margin: 4rem auto;
    background-color: rgb(148, 135, 135, 0.6);
    padding: 2rem 5vw;
    border-radius: 2rem; 
    width: 45vw;
    max-width: 30rem;
    font-size: 1.5rem;
}


/* pour la page tendances */

.tendances-ligne {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4vw;
    margin-bottom: 12vh;
}

.tendance-img {
    height: 55vh;
    width: auto;
}

.pantone-colonne {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.square {
    width: 8vw;
    height: auto;
}

.tendances-title {
    margin-top: 10vh;
    color: white;
    text-align: center;
    font-size: 2.8rem;
}

.tendances-text{
    color: #ffffff;
    text-align: center;
    font-size: 2rem;
}

.tendances-block{ 
    border: 0.4rem solid #948787;
    background-color: rgba(217, 217, 217, 0.31);
    padding: 2rem 8vw 0;
    border-radius: 2rem; 
    width: 60vw;
    max-width: 55rem;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 6rem;
}

.tendances-ligne:nth-child(even) {
    margin-left: auto;
    margin-right: 20vw;
}

.tendances-ligne:nth-child(odd) {
    margin-right: auto;
    margin-left: 20vw;
}

/* pour la page à_propos */

form {
    font-weight: 400;
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.img-a-propos{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.text-a-propos{
    text-align: center;
    color: #ffffff;
    margin: 4rem auto;
    border: 0.3rem solid #948787;
    padding: 2rem 5vw;
    border-radius: 2rem; 
    width: 45vw;
    max-width: 40rem;
    font-size: 1.5rem;
}

.titre-a-propos{
    font-size: 3rem;
    text-align: center;
    color: #ffffff;
    margin: 4rem;
}

.btn-a-propos{
    position: absolute;
    right: 2rem;
    bottom: 2rem;
    width: 10%;
    font-size: 1.5rem;
    background: #000000;
    color: #ffffff;
    padding: 1rem 2rem;
    border-radius: 2rem;
    text-align: center;
    text-decoration: none;
}

form button{
    display: block;
    width: 20%;
    font-weight: 700;
    margin-left: auto;
    margin-right: auto;
    padding: 1rem;
    background: #000000;
    color: #ffffff;
    font-size: 1.4rem;
    border-radius: 0.8rem;
    text-align: center;
}

form button:hover{
    background: #252525;
}

form label {
    font-weight: bold;
    color: #ffffff;
}

.titre-feedback{
    text-align: center;
    font-size: 2rem;
}

.feedback{
    text-align: center;
    font-size: 1.3rem;
}

form textarea {
    padding: 1rem;
    border: 0.4rem solid #000;
    border-radius: 1rem;
    font-size: 1rem;
    width: 40vw;
    max-width: 35rem;
    background-color: transparent;
    resize: vertical;
}
