/*le header pour toutes les pages*/

.bandeau{
    display: flex;
    height: 5vw;
    justify-content: space-between;
    align-items: center;  
    background: linear-gradient(#242121 7%, #776F6F 38%, #9A9595 51%, #716969 65%, #100E0E 95%);
    list-style: none;
    text-decoration: none;
}

nav a{
    color:#ffffff;
    margin-right: 30px;
    text-decoration: none;
}

.title {
    text-align: center;
    font-size: 50px;
    color: #ffffff;
}

/*pour la page actualité_mode*/
.actualités-mode{
    display: block;
}
.actualités-mode a{
    color: red;
}


/*body*/
body {
    position: relative;
    font-family: "Times New Roman", Times, serif;
    background: linear-gradient(#000000 52%, #ffffff 100%);
}
/*le footer pour toutes les pages sauf à propos*/
.btn-à-propos {
    position: absolute;
    bottom: 20px;
    right: 20px;
    padding: 12px 25px;
    background: black;
    color: white;
    border-radius: 20px;
    font-size: large;
    text-decoration: none;
}


/*pour la page accueil*/
.accueil {
    position: relative;
}

.accueil h1 {
    position: absolute;
    top: 15vw;
    left: 32vw;
    color: #ffffff;
    font-size: 80px;
    z-index: 10;
}

.accueil img {
    padding: 50px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    opacity: 0.8;
}

/*pour la page à_propos*/

form {
    font-weight: 15;
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

form button{
    display: block;
    width: 15%;
    font-weight: 700;
    margin-left: auto;
    margin-right: auto;
    padding: 18px;
    background: #000000;
    color: #ffffff;
    font-size: 25px;
    border-radius: 8px;
    text-align: center;
    margin-top: 20px;
}

form button:hover{
    background: #252525;

}

form label {
  font-weight: bold;
  color: #ffffff;
}
form input, form textarea {
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1rem;
}