nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
    background: white;
    border-bottom: 1px solid #000000;
    list-style: none;
    
}

nav a{
    color:#000000;
}

.title h1{
    text-align: center;
    font-size: 75px;
    color: #000000;
}

body {
    background-color: #ffffff;
}

.backgroud-image{
    display: block;
    margin-left: auto;
    margin-right: auto;
    opacity: 0.8;
}

.a-propos{
    color: #ffffff;
    padding-block: unset;
    
}