header{
    border-bottom: 1px solid #000000;
}
nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;  
    background: white;
    list-style: none;
    
}

nav a{
    color:#000000;
}

.title h1{
    text-align: center;
    font-size: 50px;
    color: #000000;
}

body {
    background-color: #ffffff;
    scroll-snap-type: inherit;
}

.backgroud-image{
    padding: 50px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    opacity: 0.8;
}

.a-propos{
    color: #ffffff;
    padding-block: unset;
    
}
.text-a-propos{
    border-radius: 20px;
    border-color: #000000;
    text-align: center;
}

form {
    font-weight: 15;
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

form button{
    display: block;
    width: 15%;
    font-weight: 700;
    margin-left: auto;
    margin-right: auto;
    padding: 18px;
    background: #000000;
    color: #ffffff;
    font-size: 25px;
    border-radius: 8px;
    text-align: center;
    margin-top: 20px;
}

form button:hover{
    background: #252525;

}

form label {
  font-weight: bold;
}
form input, form textarea {
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1rem;
}